

<ion-content>
  <ion-buttons  slot="start">
    <ion-back-button defaultHref="/tu-doctor"></ion-back-button>
  </ion-buttons>
  <div  style="width: 100; height: 32%;
             background: linear-gradient(to top, #e4e5e6, #00b3e6); ;
             border-bottom-left-radius: 10%;
             border-bottom-right-radius: 10%;">
  </div>
  <div style="margin-top: -50%; ">
    <div class="ion-text-center" >
      <ion-card-subtitle style="color: #ececec; font-size: 22px;">Especialidad Doctor</ion-card-subtitle>
    </div>
    <div class="ion-text-center">
     <ion-card-title style="color: #ececec;">Doctor prueba 1</ion-card-title>
   </div>
   <div style="margin-top: 5%;">
     <ion-avatar style="align-items: center; margin: auto; border: 2px solid #ffffff; width:25%; height: 25%;">
       <ion-img  src="/assets/icon/svg/doctor.svg"></ion-img>
     </ion-avatar>
   </div>
   </div>

   <div class="ion-text-center" style="margin-top: 5%;">
     <ion-label style="background: #00b3e6; border-radius: 5mm; color: #ffffff; padding: 3%; font-size: 20px;"> Agendar cita </ion-label>
   </div>
   <ion-card class="ion-padding">
     <ion-title class="ion-text-left"> Acerca del doctor</ion-title>
     <ion-label> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odit iste dolorem, distinctio tempore quo vel doloremque veritatis nihil. Dolorem tempore labore eveniet nesciunt quos consequuntur non omnis? Delectus, magni!</ion-label>
   </ion-card>
   <ion-card class="ion-padding">
    <ion-title class="ion-text-left"> Especialidades</ion-title>
    <div style=" margin-top: 10%;">
      <ion-label style="border: solid 1px #00b3e6;padding: 2%; border-radius: 5mm;"> especialidad 1</ion-label>
    </div>
    <div style=" margin-top: 8%;">
      <ion-label style="border: solid 1px #00b3e6;padding: 2%; border-radius: 5mm;"> especialidad 2</ion-label>
    </div>
   
  </ion-card>

  <ion-card class="ion-padding">
    <ion-title class="ion-text-left"> Educación</ion-title>
  <ion-list>
    <ion-item>
      <ion-icon></ion-icon>
    </ion-item>
  </ion-list>
  </ion-card>
   

</ion-content>
