

<ion-content style="--background: linear-gradient(to bottom,rgb(255, 255, 255),#5098f5);">
  <div style="margin-top: 5% ;">
    <div style="margin-top: 60%; position: absolute; width: 100%; background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(80, 152, 245, 0)); "> 
      <img  src="assets/icon/Salud.png">    
    </div>
    <ion-slides>
  
      <ion-slide>
        <div >
          <img  src="assets/icon/tuto1.png"/>
          <h2 color="primary" style="color: #2e5a94; margin-top: -10%;">Bienvenido a Ok Care</h2>
          <p style="color: #2e5a94;"><b style="color: #163a69;">La aplicación que pone la tecnológia al servicio de tu salud y bienestar</b></p>
        </div>
        <ion-button routerLink="/login"> Deslizar 👉👉 </ion-button>
      </ion-slide>
  
      <ion-slide>
        <div >
          <img src="assets/icon/tuto2.png"/>
          <h2 color="primary" style="color: #2e5a94; margin-top: -10%;">Lo que encontraras </h2>
          <p style="color: #2e5a94;"><b style="color: #163a69;"></b> Prediagnóstico informativo, Dieta y nutrición, Boton de pánico, Tu doctor, Buscador de farmacias y hospitales, Busca tu enfermero, Entrenamiento y consejos</p>
        </div>
        <ion-button routerLink="/login"> Continuar 👉👉 </ion-button>
      </ion-slide>
  
      
  
    </ion-slides>
  </div>
 
  
  

</ion-content>
