<!-- <ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(148, 192, 250, 0.068)); position: fixed;"  no-border>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    No tienes cuenta aun? <a (click)="goToRegisterPage()">Crear una cuenta.</a>
  </p>
</ion-content> -->





<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(148, 192, 250, 0.068)); position: fixed;"  no-border>
  </ion-toolbar>
</ion-header>

<ion-content style="  --background: linear-gradient(to bottom,#025fd8b6,#c1dbfd)">
  <div style="margin-left: -180px; opacity: 0.25; width: 1250px; position: absolute;" >
    <img src="assets/icon/LoginBack.jpg">
  </div>
  <div class="ion-text-center" style="margin-top: 5%; margin-left: 25%;">
    <ion-icon style="font-size: 275px;" src="/assets/icon/OkCareIcon.svg"></ion-icon>
  </div> 
   
  <div class="ion-padding" style="margin-top: 15%;">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

      <ion-item transparent style="opacity: 0.7; border-radius: 10mm;">
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <ion-item ransparent  style="opacity: 0.7; border-radius: 10mm; margin-top: 4%; width: 100%;">
        <ion-label position="floating" color="primary">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div padding style="margin-top: 5%;" class="ion-text-center">
        <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" style="border: 4px solid rgb(255, 255, 255); border-radius: 10mm;" shape="round" fill="solid">
          Iniciar sesión
        </ion-button>
      </div>

      <label class="error-message">{{errorMessage}}</label>
    </form>
<!-- 
    <p class="go-to-register">
      No tienes cuenta aun? <a (click)="goToRegisterPage()">Crear una cuenta.</a>
    </p> -->



    <ion-row>
      <ion-col size="6">
        <div padding style="margin-top: 10%;" class="ion-text-center">
          <ion-button  expand="block"  (click)="goToRegisterPage()"  color="primary" style="border: 4px solid rgb(255, 255, 255); border-radius: 10mm;" class="ion-button-class" shape="round" fill="solid"> Crear una cuenta</ion-button>  
        </div> 
      </ion-col>
      <ion-col size="6">
        <div padding style="margin-top: 10%;" class="ion-text-center">
          <ion-button  expand="block"  routerLink="/restablecer-key"  color="primary" style="border: 4px solid rgb(255, 255, 255); border-radius: 10mm; font-size: 12px;" class="ion-button-class" shape="round" fill="solid"> Olvide mi contraseña</ion-button>  
        </div>  
      </ion-col>
    
    </ion-row>
  
  </div>


  </ion-content>