
<ion-content>
  <div  style="width: 100; height: 40%;
  background-color: #5098f5;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;">
  <div class="ion-text-center">
   <ion-icon style="font-size: 270px;" src="assets/icon/svg/DiagnosticoFinal.svg"></ion-icon>
  </div>
  <div class="ion-text-center" style="margin-top: 3%;">
    <ion-card-title color="light">
      Diagnóstico probable
    </ion-card-title>
  </div>
  
</div>


<div style="padding: 20px;">
  <div  style="background-color: rgb(224, 224, 224); border-radius: 10mm; " >
    <div class="ion-text-center ion-padding"  >
      <p style="color:#2984fc ;" >{{DiagnosticoFinal}}</p>
    </div>    
  </div>
  <div style="margin-left: 25%;">
    <ion-card mode="ios" routerLink="/tu-doctor" class="ion-padding"  style="height: 80%; width: 45%;">          
      <img style="width:  180px;" src="/assets/icon/svg/doctor.svg">
      
      <ion-card-title style="font-size: 17px; text-align: center;color: rgb(49, 115, 238);">Buscar un Doctor</ion-card-title>
    </ion-card>
  </div>
 
</div>







</ion-content>
