<div *ngIf="showSplash" class="cssload-wrap">
  <div class="cssload-cssload-spinner"></div>
</div>
<ion-app *ngIf="!showSplash">
 
  <ion-menu mode="ios" side="start"  contentId="principal">
 
    <ion-content style="--background: linear-gradient(to bottom,rgb(255, 255, 255),#5098f5);"> 
      <div class="ion-text-center" >    
        <ion-icon  style="font-size: 100px;"  name="person-circle-outline"></ion-icon>    
    </div>
    <ion-menu-toggle>
      <ion-list style="--background: rgba(127, 255, 212, 0);">
        <ion-item routerLink="/perfil" style="--background: rgba(127, 255, 212, 0);">
         <ion-label>Mi perfil</ion-label>
        </ion-item>
      </ion-list>

    </ion-menu-toggle>  
     
  
    </ion-content>
    <ion-footer  >
      <ion-menu-toggle>
        <ion-item (click)="logout()">
          Cerrar sesión
          <ion-icon style="color: rgb(255, 255, 255);" slot="end" name="exit"></ion-icon>
                      
        </ion-item>   
      </ion-menu-toggle>
  
    
    </ion-footer>
  </ion-menu>
   
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>

