
<ion-content >
  <ion-buttons  slot="start">
    <ion-back-button defaultHref="/tu-doctor"></ion-back-button>
  </ion-buttons>
  <div  style="width: 100; height: 32%;
             background: linear-gradient(to top, #e4e5e6, #00b3e6); ;
             border-bottom-left-radius: 10%;
             border-bottom-right-radius: 10%;">
             <div class="ion-text-center">
              <ion-icon style="font-size: 270px;" src="assets/ListaDoctores/Doctors.svg"></ion-icon>
             </div>
  </div>
 
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 1</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 2</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 3</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 4</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 5</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card routerLink="/perfil-doctor">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img  src="/assets/icon/svg/doctor.svg" ></ion-img>      
        </ion-avatar>
      </ion-col>
      <ion-col  size="9">
        <div class="ion-text-left">
          <ion-card-title>Doctor Prueba 6</ion-card-title>
        </div>
        <div class="ion-text-left">
          <ion-card-subtitle>Médico general</ion-card-subtitle>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="checkmark-done-outline"></ion-icon>           
            Estado: Disponible
          </ion-col>
          <ion-col size="6">
            <ion-icon name="location-outline"></ion-icon>
            Distancia: 2.2km
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>
  
  </ion-card>

</ion-content>
