<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Bienvenido al panel principal!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Tu correo registrado es : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>