<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-center">Peso ideal </ion-title>
    <ion-buttons slot="end">
      <ion-button  mode="md">
        <ion-icon style="font-size: 30px;" src="/assets/icon/svg/panic-button.svg"></ion-icon>
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center">
    <ion-title style="font-size: 80px; margin-top: 10%;">0kg</ion-title>
  </div>
  <ion-card mode="ios">
    <ion-list>
      <ion-item>
        <ion-label>Peso Ideal</ion-label>
        <ion-label class="ion-text-end">0kg</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Peso Actual</ion-label>
        <ion-label class="ion-text-end">0kg</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tienes que adelagazar</ion-label>
        <ion-label class="ion-text-end">0kg</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card  mode="ios">
    <p style="text-align: center;">
      Este peso es teórico, dependiendo de cada persona su peso ideal real puede ser <b> 3kg</b> arriba o abajo del dato obtenido
    </p>
    
  </ion-card>

</ion-content>
