<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-center">Índice de masa </ion-title>
    <ion-buttons slot="end">
      <ion-button  mode="md">
        <ion-icon style="font-size: 30px;" src="/assets/icon/svg/panic-button.svg"></ion-icon>
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(to bottom,rgb(255, 255, 255),#5098f5);">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Estatura (m)</ion-label>
        <ion-input class="ion-text-end" placeholder="Escribe aquí" [(ngModel)]="Estatura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Peso (kg)</ion-label>
        <ion-input class="ion-text-end"  placeholder="Escribe aquí" [(ngModel)]="Peso"></ion-input>
      </ion-item>           
    </ion-list>
    <div class="ion-text-center">
      <ion-button (click)="Calcular()">
        Calcular
      </ion-button>
      <ion-button (click)=" recuperardatos()">
        recuperar
      </ion-button>
    </div>    
    <ion-item>
      <ion-label>Resultado:</ion-label>
      <ion-label>{{Resultado}}</ion-label>        
    </ion-item>
  </ion-card>
  <ion-card mode="ios>">
    <ion-list>
      <ion-item>
        <ion-label >
          <ion-title  style="font-size: 14px;">
            Composición corporal
          </ion-title>          
        </ion-label>
        <ion-label  class="ion-text-end" style="font-size: 14px;" >          
            Indice de masa corporal          
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          Peso inferior al normal          
        </ion-label>
        <ion-label  class="ion-text-end" color="primary">
          Menor de 18.5        
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          Normal        
        </ion-label>
        <ion-label  class="ion-text-end" color="primary">
          18.5 - 24.9       
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          Peso superior al normal          
        </ion-label>
        <ion-label  class="ion-text-end" color="primary">
          25.0 - 29.9        
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          Obesidad        
        </ion-label>
        <ion-label  class="ion-text-end" color="primary">
          Más de 30.0       
        </ion-label>
      </ion-item>
    </ion-list>
    
  </ion-card>

</ion-content>
