<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-center">Dietas </ion-title>
    <ion-buttons slot="end">
      <ion-button  mode="md">
        <ion-icon style="font-size: 30px;" src="/assets/icon/svg/panic-button.svg"></ion-icon>
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-card mode="ios">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 1400 Kcal 
          <h6 style="color: #575757;">Dieta para adelgazar</h6>
        </ion-label>               
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 1500 Kcal 
          <h6 style="color: #575757;">Dieta para adelgazar</h6>
        </ion-label>        
      </ion-item> <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 1700 Kcal 
          <h6 style="color: #575757;">Dieta para adelgazar / de mantenimiento</h6>
        </ion-label>      
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 1800 Kcal 
          <h6 style="color: #575757;">Dieta para adelgazar / de mantenimiento</h6>
        </ion-label>        
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 2000 Kcal 
          <h6 style="color: #575757;">Dieta de mantenimiento / para ganar peso</h6>
        </ion-label>        
      </ion-item> <ion-item>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Dieta de 2500 Kcal 
          <h6 style="color: #575757;">Dieta para ganar peso / peso deportistas</h6>
        </ion-label>         
      </ion-item>
    </ion-list>
  </ion-card>
 
</ion-content>
