<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(148, 192, 250, 0.068)); position: fixed;"  no-border>
   <ion-buttons>
     <ion-back-button routerLink="/login">

     </ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  style="  --background: linear-gradient(to bottom,#025fd8b6,#c1dbfd)">
  <!-- <h1> Regístrate con tu correo y contraseña</h1> -->

  <div style="margin-left: -180px; opacity: 0.25; width: 1250px; position: absolute;" >
    <img src="assets/icon/LoginBack.jpg">
  </div>
  <div class="ion-text-center" style="margin-top: 5%; margin-left: 25%;">
    <ion-icon style="font-size: 275px;" src="/assets/icon/OkCareIcon.svg"></ion-icon>
  </div>
<div class="ion-padding" style="margin-top: 15%;">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">


    <ion-item transparent style="opacity: 0.7; border-radius: 10mm;">
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.nombre">
        <div class="error-message"
          *ngIf="validations_form.get('nombre').hasError(validation.type) && (validations_form.get('nombre').dirty || validations_form.get('nombre').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item transparent style="opacity: 0.7; border-radius: 10mm; margin-top: 4%; width: 100%;">
      <ion-label position="floating" color="primary">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.apellido">
        <div class="error-message"
          *ngIf="validations_form.get('apellido').hasError(validation.type) && (validations_form.get('apellido').dirty || validations_form.get('apellido').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item transparent style="opacity: 0.7; border-radius: 10mm; margin-top: 4%; width: 100%;">
      <ion-label position="floating" color="primary">Teléfono</ion-label>
      <ion-input type="text" formControlName="telefono"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.telefono">
        <div class="error-message"
          *ngIf="validations_form.get('telefono').hasError(validation.type) && (validations_form.get('telefono').dirty || validations_form.get('telefono').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item transparent style="opacity: 0.7; border-radius: 10mm; margin-top: 4%; width: 100%;">
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item transparent style="opacity: 0.7; border-radius: 10mm; margin-top: 4%; width: 100%;">
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>

    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <div style="margin-top: 5%;" class="ion-text-center">
      <!-- <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Registrarse</ion-button> -->

      <ion-button type="submit" [disabled]="!validations_form.valid" color="primary" style="border: 4px solid rgb(255, 255, 255); border-radius: 10mm;" class="submit-btn" shape="round" fill="solid"> Crear usuario</ion-button>  
    </div>     


    <label class="error-message">{{errorMessage}}</label>
    <br>
    <a (click)="goLoginPage()"><h2> {{successMessage}}</h2></a>
  </form>
  <br>
  <p class="go-to-login">Ya tienes una cuenta? <a (click)="goLoginPage()">Intenta hacer Log In.</a></p>

  </div>
</ion-content>